<span id="song_<%= song.id %>">
<% if user_signed_in? %>
  <% if song.favorited_by?(current_user) %>
    <span>
      <%= link_to song_favorites_path(song), method: :delete, remote: true do %>
        <i class="fas fa-heart favorite"></i><%= song.favorites.count %>
      <% end %>
    </span><br>
  <% else %>
    <span>
      <%= link_to song_favorites_path(song), method: :post, remote: true do %>
        <i class="far fa-heart"></i><%= song.favorites.count %>
      <% end %>
    </span><br>
  <% end %>
<% end %>
</span>