<h1 class="mb-5">フォロー <%= @user.following_user.count %>人</h1>

<div class="row">
<% @user.following_user.each do |user| %>
  <div class="col-4">
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :image, :fill,200,200, format: 'jpeg', fallback: "no_image.jpg", class: "border rounded-circle" %>
    <% end %>
    <p><%= user.name %></p>
    <%= render 'relationships/form', user: user %>
  </div>
<% end %>
</div>