<h1 class="mb-5">フォロワー <%= @user.follower_user.count %>人</h1>

<div class="row">
<% @user.follower_user.each do |user| %>
  <div class="col-4 relationships_index">
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :image, :fill,200,200, format: 'jpeg', fallback: "no_image.jpg", size: "200x200", class: "border rounded-circle" %>
    <% end %>
    <p><%= user.name %></p>
    <%= render 'relationships/form', user: user %>
  </div>
<% end %>
</div>