<div class="ml-5">
   <p class="text-danger mb-4"><%= notice %></p>

  <h1 class="mb-4">プロフィール編集</h1>

  <%= form_with model: @user, local: true do |f| %>

    <div class="mb-4 ml-4">
      <%= f.label "・名前" %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="mb-4 ml-4">
      <%= f.label "・自己紹介" %><br>
      <%= f.text_area :introduction, size: "60x4", class: "text_area" %><br>
    </div>

    <div class="mb-5 ml-4">
      <%= f.label "・プロフィール画像" %><br>
      <%= f.attachment_field :image %><br>
    </div>

    <div class="mb-5 ml-4">
      <%= f.submit "プロフィール変更", class: 'btn btn-outline-info' %><br>
    </div>

  <% end %>
</div>