<h1><%= @user.name %></h1>
<div class="row mb-5">
  <% if @user.image_id == nil %>
    <%= image_tag 'no_image.jpg', size: '300x300', class: "border rounded-circle" %>
  <% else %>
    <%= attachment_image_tag @user, :image, :fill,300,300, format: 'jpeg', class: "border rounded-circle" %>
  <% end %>

  <table class="table col-8">
    <tr><td class="lead">
      <%= @user.name %><br>
      <% if @user == current_user %>
        <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "text-primary" %>
      <% else %>
        <%= render 'relationships/form', user: @user %>
      <% end %>
    </td></tr>
    <tr><td><%= @user.introduction %></td></tr>
    <tr><td>
      <%= link_to "フォロー#{@user.follower.count}人", follow_index_path(@user.id), class: "mx-3" %>
      <%= link_to "フォロワー#{@user.followed.count}人", follower_index_path(@user.id), class: "mx-3" %>
    </td></tr>
    <tr><td><%= link_to "お気に入りの曲", favorites_path(@user), class: "text-primary" %></td></tr>
  </table>
</div>


<h1>Songs</h1>
<div class="row">
  <% @songs.each do |song| %>

   <%= render "songs/js_playbutton", song: song %>

    <div class="col-4 mb-5 mt-3">
      <div class="box">
        <%= link_to song_path(song) do %>
          <%= attachment_image_tag song, :image, :fill,300,300, format: 'jpeg', fallback: "no_image.jpg", class: "border img_index no_img" %>
        <% end %>
        <div class="btn_play" id="btn_<%= song.id %>"></div>
      </div>
      <audio src="<%= url_for(song.file.url) %>",  id="audio_<%= song.id %>", pause="pause"></audio><br>
      <span class="lead mr-3"><%= link_to song.title, song_path(song) %></span>
      <span class="small"><%= song.song_style.style %></span><br>
      <%= link_to song.user.name, user_path(song.user) %>
      <span><%= render 'favorites/form', song: song %></span>
    </div>
  <% end %>
</div>