<div class="ml-5">
  <h1 class="mb-4">Song Edit</h1>

  <%= form_with model: @song, local: true do |f| %>

    <div class="mb-4 ml-4">
      <%= f.label "・楽曲ファイル" %>
      <%= f.file_field :file %><br>
    </div>

    <div class="mb-4 ml-4">
      <%= f.label "・画像（任意）" %>
      <%= f.attachment_field :image %><br>
    </div>

    <div class="mb-4 ml-4">
      <%= f.label "・タイトル" %>
      <%= f.text_field :title %><br>
    </div>

    <div class="mb-4 ml-4">
      <%= f.label "・楽曲形式" %>
      <%= f.collection_select :song_style_id, @song_styles, :id, :select_song_style  %><br>
    </div>

    <div class="mb-4 ml-4">
      <%= f.label "・楽曲詳細(任意）" %>
      <%= f.text_area :detail, size: "60x4" %><br>
    </div>

    <div class="mb-4 ml-4">
      <%= f.submit "アップロード", class: 'btn btn-outline-info' %><br>
    </div>

  <% end %>
</div>