<h1>Songs</h1>

<div class="row pt-3">
  <% @songs.each do |song| %>

<!--jsで音源再生-->
 <%= render "songs/js_playbutton", song: song %>

    <div class="col-4 mb-5 mt-3">
      <div class="box">
        <%= link_to song_path(song) do %>
          <%= attachment_image_tag song, :image, :fill,300,300, format: 'jpeg', fallback: "no_image.jpg", size: "300x300", class: "border img_index" %>
        <% end %>
        <div class="btn_play" id="btn_<%= song.id %>"></div>
      </div>
      <audio src="<%= url_for(song.file.url) %>",  id="audio_<%= song.id %>", pause="pause"></audio><br>
      <span class="lead mr-3"><%= link_to song.title, song_path(song) %></span>
      <span class="small"><%= song.song_style.style %></span><br>
      <%= link_to song.user.name, user_path(song.user) %>
      <span><%= render 'favorites/form', song: song %></span>
    </div>
  <% end %>
 <%= paginate @songs %>
</div>