<h1>Songs#new</h1>
<%= form_with model: @song, local: true do |f| %>

<%= f.label "楽曲ファイル" %>
<%= f.file_field :file %><br>

<%= f.label "画像（任意）" %>
<%= f.attachment_field :image %><br>

<%= f.label "タイトル" %>
<%= f.text_field :title %><br>

<%= f.label "楽曲形式" %>
<%= f.collection_select :song_style_id, SongStyle.all, :id, :select_song_style  %><br>

<%= f.label "楽曲詳細(任意）" %><br>
<%= f.text_area :detail %><br>

<%= f.submit "アップロード", class: 'btn btn-outline-info', data: {confirm: "Aboutページの注意事項を確認しましたか？"} %><br />
<% end %>
