<div class="col-10 mx-auto">

  <h1><%= @song.title %></h1>
  <%= attachment_image_tag @song, :image, :fill,800,500, format: 'jpeg', fallback: "no_image.jpg", size: "800x500", class: "border img_show" %><br>
  <audio src="<%= url_for(@song.file.url) %>", class="play_bar", controls></audio>

  <div class="row mb-5">
    <div class="col-5">
      <%= link_to user_path(@song.user) do %>
        <%= attachment_image_tag @song.user, :image, :fill,100,100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class: "border rounded-circle" %><br>
      <% end %>
      <%= link_to @song.user.name, user_path(@song.user) %><br>

      <%= render 'relationships/form', user: @song.user %>

      <% if @song.user == current_user %>
        <%= link_to "編集", edit_song_path(@song), class: "text-primary" %>
        <%= link_to "削除", song_path(@song), method: :delete, class: "text-primary", data: {confirm: "本当に削除してよろしいですか？"} %>
      <% end %>
    </div>

    <div class="col-5">
      <%= @song.song_style.style %><br>
      <p class="word-break-break-all"><%= @song.detail %></p>
      <span class="lead"><%= render 'favorites/form', song: @song %></span>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= form_with model: [@song, @comment], remote: true do |f| %>
      <%= f.text_area :body, size: "40x4" %>
      <%= f.submit "コメントする" %>
    <% end %>
  <% end %>

  <h4 class="mt-5 mb-3">コメント</h4>
  <span class="comment_<%= @song.id %>">
    <%= render 'comments/comment', song: @song %>
  </span>

</div>