<h1 class="display-2 mx-auto text-center">ENJOY MUSIC!</h1>

<p class="mb-5 text-center">ENJOY MUSIC!へようこそ！<br>
  会員登録していただくと楽曲の投稿やお気に入り登録、フォロー機能が使えるようになります。<br>
  <%= link_to "新規登録", new_user_registration_path, class: "col-4" %>
  <%= link_to "ログイン", new_user_session_path, class: "col-4" %>
  <%= link_to "ENJOY MUSIC!とは？", home_about_path, class: "col-4" %>
</p>

<div class="row justify-content-between pt-5">
  <h1 class="col-6 top_contents">新しい曲</h1>
  <h1 class="col-6 top_index"><%= link_to ">楽曲一覧へ", songs_path %></h1>
</div>

<div class="row mb-5 py-2">
  <% @songs.last(3).each do |song| %>
    <%= render "songs/js_playbutton", song: song %>

    <div class="col-4 mb-5 mt-3">
      <div class="box">
        <%= link_to song_path(song) do %>
          <%= attachment_image_tag song, :image, :fill,300,300, format: 'jpeg', class: "border img_index" %>
        <% end %>
        <div class="btn_play" id="btn_<%= song.id %>"></div>
      </div>
      <audio src="<%= url_for(song.file.url) %>",  id="audio_<%= song.id %>", pause="pause"></audio><br>
      <span class="lead mr-3"><%= link_to song.title, song_path(song) %></span>
      <span class="small"><%= song.song_style.style %></span><br>
      <%= link_to song.user.name, user_path(song.user) %>
      <span><%= render 'favorites/form', song: song %></span>
    </div>
  <% end %>
</div>


<div class="row justify-content-between pt-5">
  <h1 class="col-6 top_contents">人気の曲</h1>
  <h1 class="col-6 top_index"><%= link_to ">楽曲一覧へ", songs_path(sort_popular: 1) %></h1>
</div>

<div class="row pt-2 mb-3">
  <% @songs_popular.each do |song| %>

    <%= render "songs/js_playbutton", song: song %>

    <div class="col-4 mb-5 mt-3">
      <div class="box">
        <%= link_to song_path(song) do %>
          <%= attachment_image_tag song, :image, :fill,300,300, format: 'jpeg', class: "border img_index" %>
        <% end %>
        <div class="btn_play" id="btn_<%= song.id %>"></div>
      </div>
      <audio src="<%= url_for(song.file.url) %>",  id="audio_<%= song.id %>", pause="pause"></audio><br>
      <span class="lead mr-3"><%= link_to song.title, song_path(song) %></span>
      <span class="small"><%= song.song_style.style %></span><br>
      <%= link_to song.user.name, user_path(song.user) %>
      <span><%= render 'favorites/form', song: song %></span>
    </div>
  <% end %>
</div>
